<div class="home">
<h4>The Sustainable Clicks Easy AdWords tool enables you to easily create the files you need to quickly to upload into the AdWords Editor. This allows you to easily update or create a new campaign.</h4>
<%= link_to "Get Started", process_path, class: "btn btn-large btn-primary" %>
</div>