<% provide(:title, 'Instructions') %>
<body>
<h3>Instructions for using the Easy AdWords Editor File Builder</h3>
<%= link_to "How To Create Keyword and Ad Group Bid Files for Adwords Editor", '#' %>
<br>
<%= link_to "How To Create an Ad Copy File for Adwords Editor", '#' %>
<p>How To Create Keyword and Ad Group Bid Files for AdWords Editor<br>
1. Using Excel or other spreadsheet software, create a Keyword input file, saved in CSV format,   with two columns:<br>
	a. “Ad Group”: The name of the ad group that the keyword in the second column is assigned to,      without any match type suffix (such as “1 Exact”)<br>
	b. “Keyword”: The keyword that is assigned to the ad group in the first column<br>
	2. Optional: Click on the “Download example Keyword input file” button below to get an example    Keyword input file.<br>
	3. Go to the file upload page by clicking on either “Process Files” in the navigation bar, or by   clicking on the “Get Started” button on the home page.<br>
	4. Select “Keyword File” from the dropdown menu.<br>
	5. In the popup box that appears:<br>
	a. Go to AdWords Editor, select the “Campaigns” tab, and click on the name of the campaign you        are working on in the left side of the interface. Then, copy the campaign name from the        text box just below “Edit selected campaigns” in the AdWords Editor interface, and paste it        into the Easy AdWords Editor File Builder popup box next to “Campaign Name”. Please note:        This campaign name must exactly match the Google AdWords campaign name, or AdWords will        create a new campaign with the new campaign name!<br>
	b. In the popup box, click on “Upload File”, and then browse to and select the Keyword input        file that you created.<br>
	6. When the file conversion finishes, and that “Conversion Successful” page appears, click on the   “Download Files” button to download the two output CSV files that are ready to be uploaded into   AdWords Editor:<br>
	a. The Ad Group Bid file<br>
	b. The Keyword file<br>
</p>
<%= link_to "Download Example Keyword Input File", '#', class: "btn btn-large btn-primary" %>
<h3>How To Create an Ad Copy File for AdWords Editor</h3>
<p>1. Using Excel or other spreadsheet software, create an Ad Headlines input file, saved in CSV   format, with two or more columns:<br>
	a. “Ad Group”: The name of the ad group that will use the headlines specified in the column(s)        to the right, without any match type suffix (such as “1 Exact”).<br>
	b. “Headline1”: The first headline to be used in the ad group in the first column.<br>
	c. (Optional) “Headline2”, “Headline3”, “Headline4”, etc.: The second, third, fourth, etc.        headlines to be used in the ad group in the first column.<br>
	2. Using Excel or other spreadsheet software, create an Ad Body Copy input file, saved in CSV   format, where each row corresponds to a different set of ad body copy that will be used in the   ad groups listed in the Ad Headlines input file, and there are 4 columns:<br>
	a. “Description1”: The first line of ad body copy.<br>
	b. “Descrption2”: The second line of ad body copy.<br>
	c. “Display URL”: The Display URL to be used in the ad body copy.<br>
	d. “Destination URL”: The Destination URL for the landing page associated with this ad body        copy.<br>
	3. Optional: Click on the “Download example Ad input files” button file below to download example   Ad Headlines and Ad Body Copy input files.<br>
	4. Go to the file upload page by clicking on either “Process Files” in the navigation bar, or by   clicking on the “Get Started” button on the home page.<br>
	5. Select “Ad Copy File” from the dropdown menu.<br>
	6. In the popup box that appears:<br>
	a. Go to AdWords Editor, select the “Campaigns” tab, and click on the name of the campaign you        are working on in the left side of the interface. Then, copy the campaign name from the        text box just below “Edit selected campaigns” in the AdWords Editor interface, and paste it           into the Easy AdWords Editor File Builder popup box next to “Campaign Name”. Please note:        This campaign name must exactly match the Google AdWords campaign name, or AdWords will        create a new campaign with the new campaign name!<br>
	b. In the popup box, click on “Upload File”, and then browse to and select the Ad Headlines        input file that you created.<br>
	c. In the popup box, when the next “Upload File” button appears, click on “Upload File”, then        browse to and select the Ad Body Copy input file that you created.<br>
	7. When the file conversion finishes, and that “Conversion Successful” page appears, click on the   “Download File” button to download the one output CSV file that is ready to be uploaded into   AdWords Editor:<br>
	a. The Ad Copy file<br>
</p>
<%= link_to "Download Example Ad Input Files", '#', class: "btn btn-large btn-primary" %>
</body>