<% provide(:title, 'Process Files') %>
<body>
  <br>
<div class='center'>
<%= link_to 'Process Keyword File', process_keyword_file_path, class: "btn btn-large btn-primary" %>
<br>
<br>
<br>
<%= link_to 'Process Ad Copy Files', process_ad_copy_headline_files_path, class: "btn btn-large btn-primary" %>
</div>
</body>