<footer class="footer">
  <small>
    <a href='#'>Sustainable Clicks</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'http://Sustainableclicks.com' %></li>
    </ul>
  </nav>
</footer>