<h1>Sustainable Clicks</h1>
<h3>Easy AdWords Editor File Builder</h3>
<%= link_to "Home |", root_path %>
<%= link_to " Process Files |", process_path %>
<%= link_to " Instructions |", instructions_path %>
<%= link_to " Contact Us", 'http://Sustainableclicks.com' %>